<h1>All Employees</h1>

<table class="table table-hover">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <% if current_user.super_admin? %>
        <th scope="col">Role</th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |u| %>
      <tr>
        <td><%= full_name(u) %></td>
        <td><%= u.email %></td>
        <% if current_user.super_admin? %>
          <td class="form-group">
            <%= form_with model: u, local: true do |user_form| %>
              <%= user_form.select :role, User::ROLES.map { |r| [r.titleize, r] }, {}, onchange: "this.form.submit();", class: "form-control custom-select" %>
            <% end %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
