<div class="row">
  <div class="col">
    <%= form_with model: @user, url: user_path(@user), remote: true do |form| %>
      <p>Select which office you're in.</p>
      <div class="form-group">
        <%= form.label :office %>
        <%= form.select :office, User::OFFICES, {}, class: "form-control custom-select" %>
      </div>

      <%= form.submit "Continue", class: 'btn btn-primary-blue' %>
    <% end %>
  </div>
</div>
