<h1 class="py-3">Welcome to MVP Survey!</h1>

<% if Rails.env.development? %>
  <div class="row">
    <div class="col-2">
      <p>Switch Users:</p>
      <%= switch_user_select class: 'form-control custom-select' %>
    </div>
  </div>
<% end %>
