<div class="email-container">
  <div>
    <p><strong>New Survey!</strong></p>
  </div>

  <div>
    <p>Visit MVP Survey now to submit your nomination for the MVP this month: <%= link_to nil, new_survey_nomination_url(@survey) %></p>
  </div>
</div>
