<div class="row mt-3">
  <div class="col">
    <h1 class="d-inline">Surveys</h1>
    <%= link_to 'New Survey', new_survey_path, class: 'btn btn-secondary float-right m-3' if can? :create, Survey %>
  </div>
</div>

<div class="row">
  <div class="col">
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @surveys.each do |survey| %>
          <tr>
            <td><%= link_to survey.name, survey %></td>
            <td><%= link_to "Vote", survey_nomination_path(survey) unless current_user.voted?(survey) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
