<div class="row my-3">
  <div class="col-lg-3"></div>

  <div class="col">
    <h1 class="d-inline">Surveys</h1>
    <%= link_to 'New Survey', new_survey_path, class: 'btn btn-secondary float-right m-3' if can? :create, Survey %>

    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @surveys.each do |survey| %>
          <tr>
            <td><%= link_to survey.name, survey %></td>
            <td><%= link_to "Vote", new_survey_nomination_path(survey) unless current_user.voted?(survey) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="col-lg-3"></div>
</div>
