<div class="row justify-content-center mt-4">
  <div class="col-10 col-sm-6 col-xl-3">
    <h2 class="text-center mb-4">Employee Nominations</h2>
    <% @survey.grouped_nominations.each do |nominee_id, nominations| %>
      <p class="text-center"><%= "#{User.find(nominee_id).full_name} (#{nominations.count})" %></p>
      <ul>
        <% nominations.each do |nom| %>
          <li><%= formatted_nomination(nom) %></li>
        <% end %>
      </ul>
    <% end %>
  </div>
</div>

<div class="row justify-content-center mt-3">
  <div class="col-12 text-center"><%= link_to "Pick a Winner", new_survey_winner_path(@survey), class: 'btn btn-primary-blue' unless @survey.winner %></div>
  <div class="col-12 text-center py-4"><%= link_to 'Back', survey_path(@survey), class: "btn btn-secondary" %></div>
</div>
