@import 'bootstrap';

body.email {
  $email-font: 'Messina Sans Regular', Arial, Helvetica, Calibri;
  $ffi-white: #fff;
  $ffi-primary-text-color: #191E1E;
  $email-border-grey: #DADADA;

  font-family: $email-font;
  background-color: $ffi-white;
  height: 100%;
  width: 100%;
  left: 0;
  right: 0;

  p {
    color: $ffi-primary-text-color;
    line-height: 32px;
    font-size: 16px;

    a {
      color: $ffi-primary-text-color;
      text-decoration: underline;
    }
  }

  .email-container {
    margin: auto;
    padding: 50px;
    width: 525px !important;
    background-color: $ffi-white;
  }
}
