@import 'ffi_default_theme';

// Overrides for default FFI theme
body.ffi-default-theme {
  background-color: #FBFBFD;
  h1 { font-size: 30px; }
  h2 { font-size: 26px; }

  nav.navbar.primary-nav {
    box-shadow: none;
    background-color: black;

    a.nav-link {
      color: #FFF;

      &:active, &:hover {
        color: rgba(228, 228, 245, 0.934);
      }
    }
  }
}
