@import 'ffi_default_theme';

// Overrides for default FFI theme
body.ffi-default-theme {
  background-color: #FBFBFD;
  h1 { font-size: 30px; }

  // Horizontal nav style not defined in FFI stylesheet
  nav.navbar {
    border-bottom: 1px solid #E7E7E7;
    box-shadow: none;
    background-color: #FFFFFF;
  }
}
