<% flash.each do |type, message| %>
  <%= tag.div class: "alert alert-dismissable fade show #{alert_class(type)}", role: "alert" do %>
    <%= message %>
    <button class="close p-0" data-dismiss="alert" type="button">
      <span aria-hidden="true">×</span>
    </button>
  <% end %>
<% end %>
