<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      <%= stylesheet_link_tag :default_email_theme %>
    </style>
  </head>

  <body class="email">
    <%= yield %>
  </body>
</html>
